# Data handling
pandas
numpy
openpyxl
xlsxwriter

# Web requests and parsing
requests
beautifulsoup4
lxml

# Web UI
streamlit

# Optional: only if you want Selenium
selenium
webdriver-manager
# Prevent Altair installation

altair==4.2.2


streamlit>=1.53
pillow==12.1.0





